# Movies Tonight Part 2: SQL DDL

In [23]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [30]:
%reload_ext sql

1. **Create / Reset a SQLite database.** 
    - Name the database `Movies.db`.
    - Add `DROP TABLE IF EXISTS` queries make sure you have a blank database. 
    - Use SQL comments to ay what each line does

In [28]:
%%sql
CREATE TABLE Movies.db

ALTER TABLE Movies.db
DROP TABLE IF EXISTS

Environment variable $DATABASE_URL not set, and no connect string given.
Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

2. **Use SQL Create Table commands to implement the table designs you created in Part 1.** 
    - Take care with your data types! (You do not need to populate them yet. Thatâ€™s Part 3.) 
    - Use a surrogate key for the primary key of each table. The data type descriptor is `INTEGER PRIMARY KEY`.
    - If you make a mistake, recreate the database from scratch using your code from step 1 above.

In [29]:
%%sql
*/ Creating Theater Table /*

CREATE TABLE Theater(
TheaterID INTERGER PRIMARY KEY,
Name VARCHAR (255),
Location VARCHAR (255),
Phone INTEGER (15),
);

Environment variable $DATABASE_URL not set, and no connect string given.
Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

In [ ]:
CREATE TABLE SHOWTIME(
TheaterID INTEGER PRIMARY KEY
MovieID VARCHAR (255),
Time INTEGER (20)
);

3. **Use SQL ALTER TABLE statements to add the foreign key constraints from your ERD.**  
Take care that each constraint has to have a unique name.

4. **Save, add, commit, and push your work to GitHub.**  
Use the commit summary comment "Completed Part 2".